.card {

    height: 150px;

    width: 100px;

    border-radius: 15px;

    display: inline-block;

    margin-top: 10px;

    margin-left: 30px;

    margin-bottom: 30px;

    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    overflow: hidden;

    font-size: x-large;

}

.card_day {
    height: 30px;

    width: 100px;

    border-radius: 15px;

    display: inline-block;

    margin-top: 30px;

    margin-left: 30px;

    margin-bottom: 10px;

    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    overflow: hidden;

    text-align: center;

    background-color: beige;

    font-weight: bold;

    vertical-align: middle;

}

.routine_area {
    width: 1000px;
    margin-left: 500px;
}

.checkbox {
    min-width: none;
    min-height: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
    border-radius: 50px;
    border: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
}

.delBtn {
    opacity: 1;
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    font-weight: lighter;
    cursor: pointer;
}

.notes {
    background-attachment: local;

    background-image:
    
    linear-gradient(to right, white 10px, transparent 10px),
    
    linear-gradient(to left, white 10px, transparent 10px),
    
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    
    line-height: 31px;
  
    padding: 8px 10px;

    font-weight: bold;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
    background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
}

.title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
    
}

.title h2 {
    display: inline-block;
}

.close-area {
    display: inline;
    align-content: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#263343;
    padding: 8px 12px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu a {
    color: aliceblue;
}


.navbar__menu :hover {
    background: #d49466;
    border-radius: 4px;
}

.joinForm {
    width: 60%;
}

.title {
    width: 20%;
    background-color: lightgrey;
    text-align: center;
}